@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

html{
    scroll-behavior: smooth;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x:hidden; 
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex; 
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em; 
    color: #359381;
    pointer-events: none;
    margin-right: 150px ;
    }

.navigation a {
    text-decoration: none;  
    color: #359381; 
    padding: 6px 15px; 
    border-radius: 20px;
    margin: 0 10px;    
    font-weight: 600;
}

.navigation a:hover{
   background: #359435;
   color: #fff;
}
  

.parallax { 
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

#text {
   position: absolute; 
   font-size: 4em; 
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    pointer-events: none;
}
.sec1 {
 position: relative;
 background: #003329;
 padding: 100px;
}

.sec1 h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec1 p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}


.sec2 {
    position: relative;
    background: #003329;
    padding: 100px;
   }

.sec2 h2{
       font-size: 3em;
       position: relative;
       left: 50px;
       color: #fff;
       margin-bottom: 10px;
   }

.sec2 p{
    position: relative;
    left: 50px;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}   

.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    width: 300px;
    position: relative;
    border-radius: 10px;  /* This line adds rounded borders */
    text-align: center;
}

.card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    width: 300px;
    position: relative;
    border-radius: 10px;  /* This line adds rounded borders */
    text-align: center;
}

.card3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    width: 300px;
    position: relative;
    border-radius: 10px;  /* This line adds rounded borders */
    text-align: center;
}

  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }